[Config]
# Value of the "prod" crash key; defaults to "cef"
ProductName=cef
# Value of the "ver" crash key; defaults to the CEF version
ProductVersion=

# Windows only; App-specific folder name component for storing crash 
# information; default to "CEF"
AppName=DuckDuckGo.WebView.Published
# Windows only; Name of the external handler exe to use instead of
# re-launching the main exe; default to empty
ExternalHandler=

# macOS only; True if browser process crashes should be forwarded to the
# system crash reporter; default to false
BrowserCrashForwardingEnabled=
							  
# crash server URL; default to empty
ServerURL=
# True if uploads should be rate limited; default to true 
RateLimitEnabled=
# Max uploads per 24 hours, used if rate limit is enabled; default to 5
MaxUploadsPerDay=
				  
# Total crash report disk usage greater than this value will cause
# older reports to be deleted; default to 20
MaxDatabaseSizeInMb=
# Crash reports older than this value will be deleted; default to 5
MaxDatabaseAgeInDays=
					  
[CrashKeys]
